[Unit]
Description=Everyday remote Zimbra backup with Borg

[Service]
Type=simple
ExecStart=/usr/local/bin/autorun-zimbra-borg-backup.sh

[Install]
WantedBy=multi-user.target
